{% extends 'base.html.twig' %}
{% block body %}
<div>
    <div >
    <center> <h1> <p style="color:white"> <strong> Welcome to my page!</strong> </p> </h1> </center>
    
    <p> GADIO <br>Binta <br>BUT Reseaux et Telecommunications 
    </p>
    </div>
    <div class="gool">
      <h2>  <p style="color:white">With my knowledge of networks, I am ready to meet the challenges <br>and optimize the performance of your business..</p></h2>
    </div>
    <div align="center">
    <a href="/binta/loisirs" type="button" class="btn btn-dark btn-lg" > Mes Loisirs</a>
    </div>
</div>
<style type="text/css">  
.gool{
   text-align: center;
  color: white;
}
p {
    font-family: 'monospace', sans-serif;
    color: white;
    text-align: center;
}

</style>
<div class"col-md-3">
    <p class="lead mb-0">
        <h4 class="text-uppercase mb-4">A propos de ce site</h4>
         Site créer avec
        <a href="https://symfony.com/4">Symfony</a>, Twig et
        <a href="https://bootswatch.com">Bootswatch</a>
        .
        <br>Site créer par Binta GADIO © Copie Interdite !
    </p>
</div>
</div>
<p>&nbsp;</p>
</div>
</footer>
<div class="scroll-to-top d-lg-none position-fixed" style="display: block;">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron up">
         ::before
        </i>
    </a>
</div>
{%endblock %}