<DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Mon Cv{% endblock %}</title>
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
           
            <link rel= "stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
            {% block stylesheets %} {% endblock %}
        </head>
    <body>
    {% block body %}{% endblock %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase fixed-top">
                <div class="container-fluid">
                                <a href ="/portfolio"><button type="button" class="btn btn-primary">Portfolio</button> </a>
                                <a href ="/loisirs"><button type="button" class="btn btn-secondary">Mes Loisirs</button> </a>
                                <a href ="/"><button type="button" class="btn btn-success">Accueil</button> </a>
                                <a href ="/cv"><button type="button" class="btn btn-info">Mon Cv</button> </a>
                                <a href ="/contact"><button type="button" class="btn btn-danger">Me Contactez</button> </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <center><img src ="/img/cv.jpg" alt="Image du projet"></center></img>
            <p>&nbsp;</p>
    <span title="Telecharge le en format en pdf ici"><center><a href="/pdf/moncv.pdf" download = "moncv.pdf"><button type="button" class="btn btn-outline-success">Telecharger Mon Cv</button></center></span></a>
    <p>&nbsp;</p>
    <footer class="footer text-center mb-0">
        <div class="container mb-0">
            <div class="row mb-0">
                <div class="col-md-3 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Téléphone</h4>
                    <p class="lead mb-0">+33 7 82 83 81 96</p>
                </div>
            <div class="col-md-5 mb-12 mb-lg-15">
                <h4 class="text-uppercase mb-4">Adresse</h4>
                <p class ="lead mb-0">Roanne.</p>
            </div>
           <div class="col-md-3 mb-5 mb-lg-4">
            <h4 class="text-uppercase mb-4">Sur le net</h4>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                         <span title="C'est mon github clique pour voir mes projets"><a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/TheoDfr"><img class="img-fluid" src ="/img/git.png" width="32rem;"</span></img>
                          <i class="fas fa-sitemap"></i>
                        </a>
            </ul>
        </div>
    <p>&nbsp;</p>
    <div class"col-md-3">
        <h4 class="text-uppercase mb-4">A propos de ce site</h4>
        <p class="lead mb-0">
             Site créer avec
            <a href="https://symfony.com/4">Symfony</a>, Twig et
            <a href="https://bootswatch.com">Bootswatch</a>
            .
            <br>Site créer par Theo Dufour © Copie Interdite !
        </p>
    </div>
    </div>
    <p>&nbsp;</p>
    </div>
    </footer>
    <div class="scroll-to-top d-lg-none position-fixed" style="display: block;">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron up">
             ::before
            </i>
        </a>
    </div>
    
    
    
    
    
    <!-- By Successful -->
    </body>
    
    </html>