<html>
    
    <head>
        <link rel= "stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    </head>
    <style>
     
        body{
          background-image: url('https://t3.ftcdn.net/jpg/05/57/58/48/240_F_557584803_euE2IvIcspiwCNrwAYBh2un5XX9oOPid.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
        
        }
        
    
    .obt{
    
        width:100%;
        height: 700px;
        background-color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        background:none;
        color: black;
        
        
        }
        
    </style>
    
    <body>
        {%block body%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BGadio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/binta">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cv">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Formulaire">Formulaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Portfolio">Portfolio</a>
          </li>
          
      </div>
    </div>
  </nav>

<div class="obt" >
    <h1>Obtenir le cv </h1>
    <p><h3>Veuillez remplir le formulaire ci-dessous pour telecharger le CV . </h3></p>
    <form action="/page-traitement-donnees" method="post">
    <div>
     <label for="Prenom"><h2>Prenom</h2></label>
    <input type="text" id="Prenom" name="Prenom" placeholder="" required>
    </div>
    <div>
    <label for="nom"><h2>Nom</h2></label>
    <input type="text" id="nom" name="nom" placeholder="" required>
    </div>
    <div>
    <label for="email"><h2>Adresse mail<h2></label>
    <input type="email" id="email" name="email" placeholder="" required>
    </div>
   
    <div>
    <button type="submit"><a href="/binta_cv.pdf" target="_blank" download>Telecharger le cv</a> </button>
    </div>
    </form>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class"col-md-3" class="pr">
        <p class="lead mb-0">
            <h4 class="text-uppercase mb-4">A propos de ce site</h4>
             Site créer avec
            <a href="https://symfony.com/4">Symfony</a>, Twig et
            <a href="https://bootswatch.com">Bootswatch</a>
            .
            <br>Site créer par Binta GADIO © Copie Interdite !
        </p>
    </div>
    </div>
    <p>&nbsp;</p>
    </div>
    </footer>
    {%endblock%}
</body>
</html>