<html>
    <head>
        <link rel= "stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    </head>
    
<body>
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BGadio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/binta">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cv">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Formulaire">Formulaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Portfolio">Portfolio</a>
          </li>
          
      </div>
    </div>
  </nav>
  
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="container">
            <center><h1><strong>Mes loisirs en photos</strong></h1></center>
            <center><h1>Bastketball</h1></center>
            <center>
            <img width="40%" src="https://img.freepik.com/vecteurs-libre/ballon_1308-18679.jpg?w=740&t=st=1674232618~exp=1674233218~hmac=adf0026745d7a6e80f2df5b987b33740a2a2443db81c866da4ee4c342895907b"  ></center>
            <center><h1>Lecture</h1></center>
            <center><img width="40%" src="https://img.freepik.com/vecteurs-libre/illustration-concept-livre_1284-6971.jpg?w=740&t=st=1674233658~exp=1674234258~hmac=be52fa77ec714ac439c15adf30ff63b38bd3c856823c3bd01e7935ee2ebb4163" ></center>
            <center><h1>Scrables</h1></center>
            <center><img width="40%" src="https://t3.ftcdn.net/jpg/03/55/10/10/240_F_355101061_uz6CAdgsaWfGBRnzIofJghEmhWyRgpVR.jpg">

        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class"col-md-3">
            <p class="lead mb-0">
                    <h4 class="text-uppercase mb-4">A propos de ce site</h4>
                 Site créer avec
                <a href="https://symfony.com/4">Symfony</a>, Twig et
                <a href="https://bootswatch.com">Bootswatch</a>
                .
                <br>Site créer par Binta GADIO © Copie Interdite !
            </p>
        </div>
        </div>
        <p>&nbsp;</p>
        </div>
        </footer>
        <div class="scroll-to-top d-lg-none position-fixed" style="display: block;">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron up">
                 ::before
                </i>
            </a>
        </div>
{% endblock %}
</body>
</html>